@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

/* You can add global styles to this file, and also import other style files */
html,body {
    height: 100%;
    color: rgb(255, 255, 255);
    background-color: rgb(50, 50, 50);

    margin-top: -2em;

    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-weight: 200;
}
